In [2]:
def sq(s):
    return(s*s)

sq(7)

49

In [3]:
num=[2,3,4,5,6,7,8]

map(sq,num)

In [4]:
num=[2,3,4,5,6,7,8]

list(map(sq,num))

[4, 9, 16, 25, 36, 49, 64]

In [5]:
number=[2,3,4,5,6,7,8,9]

list(map(lambda x:x*x,number))

[4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
num1=[1,2,3,4,5]
num2=[6,7,8,9,10]

list(map(lambda x,y:x+y,num1,num2))

[7, 9, 11, 13, 15]

In [8]:
## map() is used to convert string to integer 
num=['1','2','3','4','5'] 
int_num=list(map(int,num))

print(int_num)

[1, 2, 3, 4, 5]

In [9]:
w=["apple","kiwi","melon"]

upper=list(map(str.upper,w))

print(upper)

['APPLE', 'KIWI', 'MELON']

In [11]:
def get_name(person):
    return person['name']

people=[
    {'name':'krish','age':32},
    {'name':'raftaar','age':69}
]

list(map(get_name,people))

['krish', 'raftaar']